@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET loves Azure</h1>
    <h2>.NET loves Azure</h2> 
    <p class="lead">Example .NET app to Azure App Service with Github.</p>
</div>